/* ==========================================================================
   footer custom styles
   ========================================================================== */

#mainFooter {
  background: $gray-lightest;
  padding: 1em;
  border-radius: 5px;
}