/* ==========================================================================
   header custom styles
   ========================================================================== */

#mainHeader {
  background: $gray-lightest;
  padding: 1em;
  border-radius: 5px;
}